/** {
	background-color: var(--white);
}*/

h2 {
	font-family: var(--ivymode);
	color: var(--brown);
}

p {
	font-family: var(--brandon);
	color: var(--brown);
}

.ui.accordion .title:not(.ui) {
	color: var(--brown) !important;
	font: var(--brandon) !important;
	font-size: large !important;
	border: 1px solid var(--brown);
	border-radius: 500px;
	color: var(--brown);
    font-size: 16px;
    width: fit-content;
    text-align: left;
    padding-left: 1.25vh !important;
	padding-right: 2vh !important;
	padding-top: 1.5vh;
    padding-bottom: 1.5vh;
	margin: 1vh;
	margin-left: 0vh;
}