/*@import '../../index.css';*/
/*
@media only screen and (max-width: 600px){
	.gaImageParent {
		width: 10%;
		display: flex;
	}
	.awsImageParent {
		width: 10%;
		display: flex;
	}
	
	.gaImage, .awsImage {
		margin-bottom: 3vh;
		width: 100%;
		height: 80%;
		flex-wrap: nowrap;
	}
	
	#gridRow {
		display: flex;
		flex-wrap: nowrap;
		background-color: pink;
	}
}*/

@media only screen and (max-width: 600px){
	.gaImageParent {
		/*border: 10px solid black;*/
		/*width: 500px;*/
		/*height: 500px;*/
		/*style={{ width: "10%" }}*/
		display: flex;
	}
	.awsImageParent {
		width: 70%;
		height: 75%;
		display: flex;
	}
	.gaImage {
		/*border: 5px solid red;*/
		/*margin-bottom: 100vh;*/
		/*width: 100%;*/
		/*display: flex;*/
		flex-wrap: nowrap;
	}
	.awsImage {
		margin-bottom: 10vh;
		width: 100%;
	}
}

/* 1500px + needs work */

.gaImageParent {
	/*border: 10px solid black;*/
	/*width: 500px;*/
	/*height: 500px;*/
	width: 10%;
	display: flex;
	justify-content: flex-end;
}
.awsImageParent {
	width: 10%;
	/*height: 75%;*/
	display: flex;
	/*flex-wrap: nowrap;
	flex-direction: row;*/
}

.gaImage, .awsImage {
	margin-bottom: 3vh;
	width: 10%;
	height: auto;
	flex-wrap: nowrap;
	/*align-items: right;*/
}

/*#gridRow {*/
	/*background-color: red;*/
	/*display: flex;
	flex-wrap: nowrap;*/
/*}*/


.aboutTitles {
	/*font-family: var(--ivymode);*/
	font-family: var(--ivymode);
	color: var(--brown)
}

#aboutSection {
	margin: 5vh;
}

.aboutCta {
	color: var(--brown);
    font-size: 16px;
	/* need to fix width to be responsive */
    /*width: 15vh;*/
    text-align: left;
    padding-left: 2vh;
	padding-right: 2vh;
	padding-top: 1.5vh;
    padding-bottom: 1.5vh;
	border: 1px solid var(--brown);
	border-radius: 500px;
	margin-top: 3vh;
	/*float: left;*/
	/*margin-left: 3vh;*/
	text-align: center;
}

.aboutCta:hover {
	color: var(--white);
    background-color: var(--brown);
    font-size: 16px;
	/* need to fix width to be responsive */
    /*width: 15vh;*/
    text-align: left;
    padding-left: 2vh;
	padding-right: 2vh;
	padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 500px;
	/*float: left;*/
	margin-top: 3vh;
	text-align: center;
}

