#itgDetail {
	background-color: var(--white);
	display: flex;
	flex-wrap: wrap;
}

#title {
	display: inline;
	padding: 5vh;
	padding-bottom: .5vh;
	float: left;
	font-size: 30px;
	color: var(--orange);
	background-color: none;
}

.all-nav-links {
	font-family: var(--ivymode);
	padding: 5vh;
}