#itgDetail {
	background-color: var(--white);
}

#title {
	display: inline;
	padding: 30px;
	padding-left: 1rem;
	float: left;
	font-size: 30px;
	color: var(--orange);
	background-color: none;
}

.all-nav-links {
	font-family: var(--ivymode);
	padding: 5vh;
}