@import '../../index.css';

@media only screen and (max-width: 600px){
	#menu-nav-links {
		/*width: 100%;*/
		/*margin-top: 12vh;*/
		/*padding-right: 0vh;*/
		/*padding-left: 1rem;*/
		/*position: absolute;*/
		/*left: 1.5rem;*/
		margin: 8vh;
		margin-bottom: 0vh;
		/*margin-top: 2vh;*/
		margin-top: 18vh;
		padding: 0vh !important;
		font-family: 'Josefin Sans', sans-serif;
	}

	#navSection {
		/*margin: 8vh;*/
		margin-bottom: 0vh;
		margin-top: 2vh;
		padding: 0vh !important;
	}

	.nav-link {
		color: var(--orange);
		font-size: 16px;
		width: 15vh;
		text-align: left;
		padding-right: 4vh;
		padding-top: 1.5vh;
		padding-bottom: 1.5vh;
	}

	.nav-link:hover {
		color: var(--orange);
		text-decoration: underline;
	}

	#title {
		font-family: var(--ivymode);
		display: inline;
		margin: 8vh;
		margin-left: 8vh !important;
		margin-bottom: 2vh;
		margin-top: 6vh;
		/*padding-left: 8vh !important;*/
		float: left;
		font-size: 30px;
		color: var(--orange);
		background-color: none;
	}

	#all-nav-links {
		font-family: var(--ivymode);
		/*padding-left: 8vh;*/
	}

	#menu {
		width: 100%;
		padding: 0px;
		padding-top: 2vh;
		background-color: var(--white);
	}

	#appBar {
		background-color: var(--white);
	}

}

@media only screen and (min-width: 601px){
	#menu-nav-links {
		display: inline;
		padding: 30px;
		position: absolute;
		right: 0;
		font-family: 'Josefin Sans', sans-serif;
	}

	.nav-link {
		color: var(--orange);
		font-size: 16px;
		width: 15vh;
		text-align: left;
		padding-left: 2vh;
		padding-right: 2vh;
		padding-top: 1.5vh;
		padding-bottom: 1.5vh;
	}

	.nav-link:hover {
		color: var(--white);
		background-color: var(--orange);
		font-size: 16px;
		width: 15vh;
		text-align: left;
		padding-left: 2vh;
		padding-right: 2vh;
		padding-top: 1.5vh;
		padding-bottom: 1.5vh;
		border-radius: 500px;
	}

	#title {
		font-family: var(--ivymode);
		/*display: inline;*/
		margin: 8vh;
		margin-bottom: 2vh;
		padding-left: 0vh !important;
		padding-right: 0vh !important;
		/*float: left;*/
		/*font-size: 30px;*/
		color: var(--orange);
		background-color: none;
	}

	#navSection {
		margin: 8vh;
		margin-bottom: 0vh;
		margin-top: 8vh;
		padding: 0vh !important;
	}

	#all-nav-links {
		font-family: var(--ivymode);
		padding: 5vh;
	}

	#menu {
		width: 100%;
		padding: 0px;
		padding-top: 2vh;
		background-color: var(--white);
	}

	#appBar {
		background-color: var(--white);
	}
}