@import '../../index.css';

#menu-nav-links {
	display: inline;
	padding: 30px;
	float: right;
	font-family: 'Josefin Sans', sans-serif;
}

.nav-link {
	margin: 10px;
	color: var(--orange);
}

#title {
	display: inline;
	padding: 30px;
	float: left;
	font-size: 30px;
	color: var(--orange);
	font-family: "O";
}

#all-nav-links {
	font-family: var(--ivymode);
}