@import '../../index.css';

#menu-nav-links {
	display: inline;
	padding: 30px;
	position: absolute;
	right: 0;
	font-family: 'Josefin Sans', sans-serif;
}

.nav-link {
	color: var(--orange);
    font-size: 16px;
    width: 15vh;
    text-align: left;
    padding-left: 2vh;
	padding-right: 2vh;
	padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.nav-link:hover {
	color: var(--white);
    background-color: var(--orange);
    font-size: 16px;
    width: 15vh;
    text-align: left;
    padding-left: 2vh;
	padding-right: 2vh;
	padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 500px;
}

#title {
	display: inline;
	padding: 30px;
	float: left;
	font-size: 30px;
	color: var(--orange);
	/*font-family: var(--ivymode);*/
	background-color: none;
}

#all-nav-links {
	font-family: var(--ivymode);
	padding: 5vh;
}