/*.components {
	display: flex;
	flex-direction: column;
	background-color: black;
}*/

div {
	font-family: var(--brandon);
	color: var(--brown);
	font-weight: 80;
}

#homePage {
	background-color: var(--white);
}