.components {
	display: flex;
	flex-direction: column;
	background-color: black;
}

#proj {
	background-color: var(--white);
	font-family: 'Josefin Sans', sans-serif;
	color: var(--brown);
	font-weight: 80;
}